.conteudo{
    display: flex;
}
.cartao{
    background-color:rgba(59, 177, 138, 0.884);
    margin: 1rem 1rem;
    flex-grow:1;
    flex-basis:calc(33%);
    text-align:center;
    border-radius:10px;
}
.carta--conteudo{
    background-color:rgba(59, 177, 138, 0.884);   
    transform-style:preserve-3d;
    transition: transform 300ms ease-in-out;
}
.cartao:hover{
    background-color: rgb(61, 61, 160);   
    transform: rotateY(180deg);

}

.cartao p{
    font-size: 40px;
    margin-top: 1rem;
    padding: 2rem;
}

footer{

     background-color: black;
     color: white;
     width: 100%;
     position: fixed;
     bottom: 0;
     text-align: center;
     align-content: center;
     font-size: 16px;
}  
