.conteudo{
    display: flex;
}
.cartao{
    background-color:rgba(59, 177, 138, 0.884);
    margin: 1rem 1rem;
    flex-grow:1;
    flex-basis:calc(33%-6rem);
    text-align:center
}
.cartao p{
    font-size: 40px;
    margin-top: 1rem;
    padding: 2rem;
}